.text {
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.App-header {
  background-image: url("https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}