.text {
  text-align: center;
  font-size: 3rem;
  font-family: 'Montserrat', sans-serif;
  line-height: 0;
}

.movieTitle {
  text-align: center;
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.2;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.App-header {
  background-image: url("https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: 'Montserrat', sans-serif;
}